In [65]:
#Dataset has 20 rows and five columns named Person Id, Gender, Has Bike, Has Car, Has Helment and Has Insurance
#The program aims to encdoe the categorical values in all the columns using Label Encoder from scikitlearn
#Decision Tree Regressor is used to predict if a particular person has insurance or not


import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [66]:
dataset = pd.read_csv("C:/Users/afsaln2/Desktop/kaggle/icfos/Assignments/asg 5/data.csv")

In [67]:
dataset

    Person Id  Gender Has Bike  Has Car Has Helmet  Has Insurance
0           1    Male      Yes     True        Yes          False
1           2  Female       No     True         No           True
2           3  Female      Yes    False        Yes           True
3           4    Male       No    False         No          False
4           5  Female      Yes     True         No           True
5           6    Male       No     True        Yes           True
6           7  Female      Yes    False        Yes          False
7           8    Male       No    False        Yes           True
8           9  Female      Yes     True         No           True
9          10  Female       No     True        Yes          False
10         11  Female      Yes    False         No           True
11         12    Male       No    False         No           True
12         13  Female      Yes     True        Yes          False
13         14  Female       No     True        Yes           True
14         15    Male      Yes    False        Yes           True
15         16    Male       No    False         No          False
16         17    Male      Yes     True        Yes           True
17         18    Male       No     True         No           True
18         19  Female       No    False         No          False
19         20  Female      Yes    False        Yes           True

In [68]:
x = dataset.iloc[:,:-1]

In [69]:
x

    Person Id  Gender Has Bike  Has Car Has Helmet
0           1    Male      Yes     True        Yes
1           2  Female       No     True         No
2           3  Female      Yes    False        Yes
3           4    Male       No    False         No
4           5  Female      Yes     True         No
5           6    Male       No     True        Yes
6           7  Female      Yes    False        Yes
7           8    Male       No    False        Yes
8           9  Female      Yes     True         No
9          10  Female       No     True        Yes
10         11  Female      Yes    False         No
11         12    Male       No    False         No
12         13  Female      Yes     True        Yes
13         14  Female       No     True        Yes
14         15    Male      Yes    False        Yes
15         16    Male       No    False         No
16         17    Male      Yes     True        Yes
17         18    Male       No     True         No
18         19  Female       No    False         No
19         20  Female      Yes    False        Yes

In [70]:
y = dataset.iloc[:,5]

In [71]:
y

0     False
1      True
2      True
3     False
4      True
5      True
6     False
7      True
8      True
9     False
10     True
11     True
12    False
13     True
14     True
15    False
16     True
17     True
18    False
19     True
Name: Has Insurance, dtype: bool

In [72]:
import sklearn
from sklearn.preprocessing import LabelEncoder
labelencoder=LabelEncoder()
x=x.apply(labelencoder.fit_transform)
x

    Person Id  Gender  Has Bike  Has Car  Has Helmet
0           0       1         1        1           1
1           1       0         0        1           0
2           2       0         1        0           1
3           3       1         0        0           0
4           4       0         1        1           0
5           5       1         0        1           1
6           6       0         1        0           1
7           7       1         0        0           1
8           8       0         1        1           0
9           9       0         0        1           1
10         10       0         1        0           0
11         11       1         0        0           0
12         12       0         1        1           1
13         13       0         0        1           1
14         14       1         1        0           1
15         15       1         0        0           0
16         16       1         1        1           1
17         17       1         0        1           0
18         18       0         0        0           0
19         19       0         1        0           1

In [73]:
from sklearn.tree import DecisionTreeClassifier

In [74]:
result = DecisionTreeClassifier()

In [75]:
result.fit(x.iloc[:,1:5],y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [76]:
#Trying to give a sample input and check the output
X_in = np.array([1,0,0,0])

In [60]:
y_pred =result.predict([X_in])

In [61]:
y_pred

array([False])